<% @deleted_comments.each do |comment| %>
	<tr>
	  <td><%= comment.content %></td>
	  <td>
	  	<% if comment.post.present? %>
	  		<%= comment.post.title %>
	  	<% elsif Post.only_deleted.find(comment.post_id).present? %>
	  		<%= Post.only_deleted.find(comment.post_id).title %>
	  	<% else %> Anonymous Post
	  	<% end %>
	  </td>
	  <td>
	  	<% comment.reporters.each do |reporter| %>
	  		<%= reporter.email %><br> 
	  	<% end %>
	  </td>
	</tr>
<% end %>