<div>
	<h3>Deleted Comments</h3>
	<ul>
		<table class="table">
		 	<thead class="thead-dark">
		 		<tr>
			    <th>Coment Content</th>
			    <th>Related Post</th>
			    <th>Reporters</th>
		  	</tr>
			</thead>
			<%= render 'comments' %>
		</table>
	</ul>
</div>