<div>
	<h3>Canceled Users</h3>
	<ul>
		<table class="table">
		 	<thead class="thead-dark">
		 		<tr>
			    <th>User Email</th>
			    <th>Cancelled at</th>
		  	</tr>
			</thead>
			<%= render 'users' %>
		</table>
	</ul>
</div>