<div>
	<h3>Deleted Posts</h3>
	<ul>
		<table class="table">
		 	<thead class="thead-dark">
		 		<tr>
			    <th>Post Title</th>
			    <th>Post Body</th>
			    <th>User</th>
		  	</tr>
			</thead>
			<%= render 'posts' %>
		</table>
	</ul>
</div>