<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="w3-sidebar w3-bar-block w3-black" style="width:200px">
  <a href="/" class="w3-bar-item w3-button">Admin:Dashboard</i></a> 
  <a href="/admins/reported_comments" class="w3-bar-item w3-button"> Reported Comments</i></a>
  <a href="/admins/deleted_comments" class="w3-bar-item w3-button"> Deleted Comments</i></a>
  <a href="/admins/deleted_posts" class="w3-bar-item w3-button"> Deleted Posts</i></a>
  <a href="/admins/deleted_users" class="w3-bar-item w3-button"> Deleted Users</i></a>
  <button class="dropdown-btn w3-bar-item w3-button">Statistics <i class="fa fa-caret-down"></i>  </button>
  <div class="dropdown-container">
	  <a href="/admins/graphs" class="w3-bar-item w3-button"> Users' Status</i></a>
		<a href="/admins/users_reported_comments" class="w3-bar-item w3-button"> Users' Reported Comment</i></a>
  </div>
</div>
      
</body>
<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("activee");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }</script>
</html>