<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<!-- <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%"> -->
<div class="w3-sidebar w3-bar-block w3-black" style="width:200px">
  <a href="/" class="w3-bar-item w3-button">Admin:Dashboard</i></a> 
  <a href="/admins/reported_comments" class="w3-bar-item w3-button""> Reported Comments</i></a>
  <a href="/admins/deleted_comments" class="w3-bar-item w3-button""> Deleted Comments</i></a>
  <a href="/admins/deleted_posts" class="w3-bar-item w3-button""> Deleted Posts</i></a>
  <a href="/admins/deleted_users" class="w3-bar-item w3-button""> Deleted Users</i></a>

</div>
      
</body>
</html>